.logositeasf-6-icon5 {
  height: 45.3px;
  width: 39px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.acerca-de-si5,
.inicio5 {
  text-decoration: none;
  height: 25px;
  width: 53px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.acerca-de-si5 {
  width: 170px;
}
.main-links {
  height: 25px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
}
.sevicios5 {
  text-decoration: none;
  width: 80px;
  height: 25px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.main-links1 {
  height: 25px;
  width: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.manuales5 {
  text-decoration: none;
  height: 25px;
  width: 96px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.page-links2 {
  height: 25px;
  width: 486px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contacto5,
.equipo5 {
  text-decoration: none;
  height: 25px;
  width: 71px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.contacto5 {
  width: 91px;
}
.links5,
.menu-links {
  display: flex;
  align-items: flex-start;
}
.links5 {
  width: 781px;
  height: 25px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-48xl-5);
}
.menu-links {
  height: 34.3px;
  width: 792px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) var(--padding-3xs-3) 0;
  box-sizing: border-box;
  z-index: 1;
}
.acceder29 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl-6);
  font-family: var(--font-varela-round);
  color: var(--color-white);
  text-align: left;
}
.botones29 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-smi);
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login,
.menu-container,
.menu5 {
  display: flex;
  box-sizing: border-box;
}
.login {
  height: 40.3px;
  width: 106px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-3);
  z-index: 2;
}
.menu-container,
.menu5 {
  flex-direction: row;
  justify-content: flex-start;
}
.menu5 {
  height: 60px;
  width: 1440px;
  box-shadow: 0 4px 7.3px -3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-5xs-7)
    var(--padding-12xl);
  gap: var(--gap-212xl);
  text-align: left;
  font-size: var(--font-size-xl-6);
  color: var(--miscellaneous-floating-tab-text-selected);
  font-family: var(--font-varela-round);
}
.menu-container {
  align-items: flex-start;
  padding: 0 0 152px;
  max-width: 100%;
}
.heading {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 108%;
  font-weight: 400;
  font-family: inherit;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.subheading {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--color-black);
}
.heading-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.cta {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-fira-sans);
  color: var(--color-white);
  text-align: center;
}
.cta-button,
.text-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-10xs);
}
.cta-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) 76px;
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  min-width: 140px;
}
.cta1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-fira-sans);
  color: var(--color-darkslategray);
  text-align: center;
}
.button-combo,
.secondary-button,
.text-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-container1 {
  flex: 1;
  justify-content: center;
  padding: 0 var(--padding-10xs);
}
.button-combo,
.secondary-button {
  box-sizing: border-box;
}
.secondary-button {
  cursor: pointer;
  border: 1px solid #6c8366;
  padding: var(--padding-sm) var(--padding-54xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-5xs);
  justify-content: center;
  min-width: 140px;
}
.button-combo {
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 var(--padding-7xs) 0 0;
  gap: 16px 10px;
  max-width: 680px;
}
.copy-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-21xl);
  min-width: 304px;
  max-width: 540px;
}
.copy-container,
.copy-media {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.copy-container {
  align-self: stretch;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-33xl) 0;
  min-width: 320px;
}
.copy-media {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.5px 0 0;
  max-width: 100%;
}
.apple-macbook-air-13-silver,
.image-lummi {
  position: absolute;
  height: 77.76%;
  width: 76.86%;
  top: 11.12%;
  right: 11.59%;
  bottom: 11.12%;
  left: 11.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.apple-macbook-air-13-silver {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.device {
  height: 545px;
  width: 914.5px;
  position: relative;
  flex-shrink: 0;
  max-width: 139%;
}
.media-layouts {
  flex: 1;
  justify-content: flex-start;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  margin-left: -4px;
}
.main-content,
.media-layouts,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.wrapper {
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  max-width: 1200px;
}
.main-content {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 104px;
  max-width: 100%;
  text-align: left;
  font-size: 72px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-varela-round);
}
.benefits-image-lummi {
  height: 803px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 320px;
}
.heading1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.heading-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xl) var(--padding-5xs)
    var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue-100);
}
.feature-description,
.feature-title {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feature-title {
  align-self: stretch;
  line-height: 150%;
  white-space: nowrap;
}
.feature-description {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkslateblue-200);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature,
.feature-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature {
  align-self: stretch;
  border-radius: var(--br-13xl);
  background-color: var(--color-bisque);
  padding: var(--padding-base) var(--padding-xl) var(--padding-base)
    var(--padding-5xl);
  gap: var(--gap-9xs);
}
.feature-list {
  gap: var(--gap-21xl);
  min-width: 320px;
  max-width: 416px;
}
.benefits-copy-container,
.typebig-image-with-benefit-su {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.benefits-copy-container {
  width: 720px;
  align-items: center;
  padding: 127.5px var(--padding-xl);
  box-sizing: border-box;
  min-width: 320px;
  margin-left: -6px;
}
.typebig-image-with-benefit-su {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-varela-round);
}
.how-it-works {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.how-it-works2 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-varela-round);
  color: var(--color-black);
  text-align: center;
}
.copy-component1,
.cta-button1 {
  display: flex;
  justify-content: center;
}
.cta-button1 {
  cursor: pointer;
  border: 1px solid var(--color-darkslateblue-100);
  padding: var(--padding-base) var(--padding-4xl);
  background-color: transparent;
  width: 151px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  max-width: 360px;
}
.copy-component1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-21xl);
  min-width: 272px;
  max-width: 720px;
}
.image-lummi1 {
  height: 320px;
  flex: 1;
  position: relative;
  border-radius: var(--br-13xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 272px;
}
.heading-container1,
.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-container1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 40px 34px;
  max-width: 1200px;
}
.heading-wrapper {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-37xl) var(--padding-xl);
  box-sizing: border-box;
  min-width: 280px;
  max-width: 100%;
}
.exclude-icon {
  width: 32px;
  height: 30.4px;
  position: relative;
}
.feature-title3 {
  position: relative;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 240px;
  max-width: 400px;
}
.group-icon {
  width: 32px;
  height: 30.5px;
  position: relative;
}
.step1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 240px;
  max-width: 400px;
}
.exclude-icon1,
.group-icon1 {
  width: 32px;
  height: 32.2px;
  position: relative;
}
.group-icon1 {
  height: 33.4px;
}
.how-it-works-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px 36.7px;
  max-width: 1200px;
}
.property-1comprehensive-steps,
.steps-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.steps-wrapper {
  background-color: #d8dfff;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-37xl) var(--padding-xl);
  box-sizing: border-box;
  min-width: 280px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.property-1comprehensive-steps {
  background-color: var(--color-aliceblue);
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-varela-round);
}
.benefit-heading,
.description,
.heading2 {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
}
.benefit-heading {
  align-self: stretch;
  font-size: inherit;
  line-height: 130%;
}
.description,
.heading2 {
  flex: 1;
  display: inline-block;
  min-width: 280px;
  max-width: 100%;
}
.heading2 {
  font-size: inherit;
  line-height: 120%;
}
.description {
  font-size: var(--font-size-3xl);
  line-height: 140%;
  color: var(--color-darkslateblue-200);
}
.copy,
.text-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 32px 26px;
  max-width: 100%;
  font-size: var(--font-size-37xl);
  color: var(--color-gray-100);
}
.text-content {
  flex-direction: column;
  gap: var(--gap-5xs);
  max-width: 1200px;
}
.typetwo-column-mission-statem {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 144px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-varela-round);
}
.testimonial {
  margin: 0;
  position: relative;
  line-height: 138%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.name {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-fira-sans);
  color: var(--color-gray-100);
}
.copy-component2,
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.copy-component2 {
  width: 100%;
  min-width: 304px;
  max-width: 720px;
}
.quote-container {
  max-width: 480px;
}
.image-lummi-categoryavata,
.steps-wrapper1 {
  max-width: 100%;
  min-width: 280px;
  min-height: 640px;
}
.steps-wrapper1 {
  flex: 0.9444;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 242.5px var(--padding-xl);
  box-sizing: border-box;
}
.image-lummi-categoryavata {
  height: 640px;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  margin-left: -6px;
}
.property-1big-testimonial {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 100%;
  text-align: center;
  font-size: 28px;
  color: var(--color-darkslateblue-100);
  font-family: var(--font-varela-round);
}
.label {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.input-form,
.text-container3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text-container3 {
  width: 171px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22px;
  padding: 0 var(--padding-9xs);
  font-family: var(--font-varela-round);
  font-size: var(--font-size-sm);
  color: var(--color-darkslateblue-100);
}
.input-form {
  align-self: stretch;
  height: 56px;
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue);
  border: 1px solid var(--color-darkseagreen);
  padding: var(--padding-mini) var(--padding-base);
}
.input4 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-9xs);
  min-width: 230px;
}
.input-form2,
.input4,
.input6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.input-form2 {
  border: 1px solid var(--color-darkseagreen);
  background-color: var(--color-aliceblue);
  height: 174px;
  width: auto;
  outline: 0;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
  font-family: var(--font-varela-round);
  font-size: var(--font-size-sm);
  color: var(--color-darkslateblue-100);
}
.input6 {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-9xs);
  min-width: 230px;
  min-height: 200px;
}
.cta2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-varela-round);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 43px;
}
.button,
.column-right {
  display: flex;
  justify-content: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs-5) var(--padding-5xl);
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
}
.column-right {
  flex: 1;
  border-radius: 48px;
  background-color: #5388d8;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 280px;
  max-width: 100%;
}
.description1,
.heading3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 400;
  font-family: inherit;
}
.heading3 {
  font-size: inherit;
  line-height: 120%;
}
.description1 {
  font-size: var(--font-size-3xl);
  line-height: 140%;
  color: var(--color-gray-100);
}
.copy1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 800px;
  font-size: var(--font-size-37xl);
  color: var(--color-darkslateblue-100);
}
.icon-icon {
  height: 32px;
  width: 32px;
  position: relative;
}
.feature-description3,
.feature-title7 {
  width: 326.3px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.feature-title7 {
  line-height: 150%;
  display: inline-block;
  white-space: nowrap;
}
.feature-description3 {
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkslateblue-100);
  display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.feature-copy {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 211px;
  max-width: 100%;
}
.column-left,
.feature-copy,
.feature01 {
  display: flex;
  align-items: flex-start;
}
.feature01 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 272px;
  max-width: 400px;
}
.column-left {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 230px;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.container,
.property-1list-form-boxed-inv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1200px;
  flex-wrap: wrap;
  align-content: center;
  gap: 48px 42px;
  max-width: 1200px;
}
.property-1list-form-boxed-inv {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  padding: 120px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.brandname {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.column {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 94px;
  max-width: 125px;
}
.heading4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 125px;
}
.link1 {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.column1,
.footer-links,
.link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column1,
.footer-links {
  flex-direction: column;
}
.footer-links {
  align-self: stretch;
  font-size: var(--font-size-sm);
}
.column1 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 94px;
  max-width: 125px;
}
.footer-links1 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--font-size-sm);
  font-family: var(--font-varela-round);
}
.column2,
.footer-links1,
.links6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column2 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 94px;
  max-width: 125px;
  font-family: var(--font-fira-sans);
}
.links6 {
  width: 596px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-13xl);
  max-width: calc(100% - 616px);
}
.text {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
}
.newslatter-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text-container6 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  font-family: var(--font-fira-sans);
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 218px;
}
.input-form3,
.input7,
.text-container6 {
  flex: 1;
  display: flex;
  max-width: 100%;
}
.input-form3 {
  align-self: stretch;
  border-radius: 4px;
  background-color: var(--color-aliceblue);
  border: 1px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
}
.input7 {
  height: 56px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 280px;
}
.cta3 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-varela-round);
  color: #a35c00;
  text-align: center;
}
.button1,
.input-button-combo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) 59px;
  background-color: var(--info);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  min-width: 140px;
  max-width: 324px;
}
.input-button-combo {
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  gap: 8px 2px;
  max-width: 720px;
}
.actions {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.actions,
.content2,
.newslatter {
  display: flex;
  align-items: flex-start;
}
.newslatter {
  width: 596px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: calc(100% - 616px);
  flex-shrink: 0;
  color: var(--color-darkslategray);
}
.content2 {
  align-self: stretch;
  height: 248px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-darkslategray);
}
.brand-name-all {
  position: relative;
  line-height: 160%;
}
.credits,
.footer-links3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.credits {
  align-items: center;
}
.icon-facebook {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-bottom,
.row,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.footer-bottom,
.row {
  align-self: stretch;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footer-bottom {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-sm);
}
.typelarge-footer-with-divider {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  overflow: hidden;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: 80px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-varela-round);
}
.form,
.gestin-de-estudiantes-con-tra,
.typelarge-footer-with-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-varela-round);
}
.gestin-de-estudiantes-con-tra {
  width: 100%;
  position: relative;
  background-color: var(--color-aliceblue);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .container,
  .heading-container1,
  .how-it-works-grid,
  .text-content,
  .wrapper {
    max-width: 100%;
  }
  .row {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .heading {
    font-size: 58px;
    line-height: 62px;
  }
  .heading1 {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .benefits-copy-container {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
  .benefit-heading,
  .how-it-works {
    font-size: var(--font-size-10xl);
    line-height: 37px;
  }
  .heading2,
  .heading3 {
    font-size: var(--font-size-26xl);
    line-height: 54px;
  }
  .copy1 {
    max-width: 100%;
  }
  .property-1list-form-boxed-inv {
    padding-top: var(--padding-59xl);
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .credits {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .button-combo {
    max-width: 100%;
  }
  .copy-component {
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .copy-container {
    gap: var(--gap-base);
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .main-content {
    padding-bottom: 68px;
    box-sizing: border-box;
  }
  .benefits-image-lummi {
    width: calc(100% - 40px);
  }
  .copy-component1 {
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .heading-container1 {
    gap: var(--gap-mid);
  }
  .heading-wrapper {
    gap: var(--gap-xl);
  }
  .how-it-works-grid {
    gap: var(--gap-lg);
  }
  .steps-wrapper {
    gap: var(--gap-xl);
  }
  .typetwo-column-mission-statem {
    gap: var(--gap-5xl);
    padding-top: var(--padding-75xl);
    padding-bottom: var(--padding-75xl);
    box-sizing: border-box;
  }
  .copy-component2 {
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .quote-container {
    max-width: 100%;
  }
  .steps-wrapper1 {
    gap: var(--gap-xl);
    padding-top: var(--padding-139xl);
    padding-bottom: var(--padding-139xl);
    box-sizing: border-box;
  }
  .image-lummi-categoryavata,
  .steps-wrapper1 {
    width: calc(100% - 40px);
  }
  .column-right {
    padding: var(--padding-12xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .column-left {
    gap: var(--gap-xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .container {
    gap: var(--gap-2xl);
  }
  .property-1list-form-boxed-inv {
    gap: var(--gap-5xl);
  }
  .links6 {
    gap: var(--gap-base);
  }
  .input-button-combo {
    max-width: 100%;
  }
  .content2 {
    height: auto;
  }
  .footer-links3 {
    flex-wrap: wrap;
  }
  .footer-bottom {
    gap: var(--gap-base);
  }
  .typelarge-footer-with-divider {
    gap: var(--gap-21xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 43px;
    line-height: 47px;
  }
  .cta-button,
  .secondary-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading1 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .feature-list {
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .benefits-copy-container {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
  .how-it-works {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .heading-wrapper {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .step,
  .step1 {
    max-width: 100%;
  }
  .benefit-heading {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .heading2 {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .description {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .testimonial {
    font-size: var(--font-size-3xl);
    line-height: 31px;
  }
  .heading3 {
    font-size: var(--font-size-15xl);
    line-height: 40px;
  }
  .description1 {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .feature01 {
    flex-wrap: wrap;
    max-width: 100%;
  }
  .property-1list-form-boxed-inv {
    padding-top: var(--padding-32xl);
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
  .typelarge-footer-with-divider {
    gap: var(--gap-xl);
  }
}
