.password-reset-child {
  width: 452px;
  height: 255px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--secondary);
  display: none;
  max-width: 100%;
}
.logositeasf-6-icon4 {
  height: 45.3px;
  width: 39px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.acerca-de-si4,
.inicio4 {
  text-decoration: none;
  height: 25px;
  width: 53px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.acerca-de-si4 {
  width: 170px;
}
.acerca-de-si-tea-container {
  height: 25px;
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 0 0;
  box-sizing: border-box;
}
.sevicios4 {
  text-decoration: none;
  width: 80px;
  height: 25px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.sevicios-container {
  height: 25px;
  width: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.manuales4 {
  text-decoration: none;
  height: 25px;
  width: 96px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.inicio-parent1 {
  height: 25px;
  width: 486px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.contacto4,
.equipo4 {
  text-decoration: none;
  height: 25px;
  width: 71px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.contacto4 {
  width: 91px;
}
.links-wrapper1,
.links4 {
  display: flex;
  align-items: flex-start;
}
.links4 {
  width: 781px;
  height: 25px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-48xl-5);
}
.links-wrapper1 {
  height: 34.3px;
  width: 792px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) var(--padding-3xs-3) 0;
  box-sizing: border-box;
  z-index: 1;
}
.acceder27 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-xl-6);
  font-family: var(--font-varela-round);
  color: var(--color-white);
  text-align: left;
}
.botones27 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-smi);
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botones-frame,
.menu4 {
  height: 40.3px;
  width: 106px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-3);
  box-sizing: border-box;
  z-index: 2;
}
.menu4 {
  width: 1440px;
  height: 60px;
  box-shadow: 0 4px 7.3px -3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-3xs) var(--padding-5xs-7)
    var(--padding-12xl);
  gap: var(--gap-212xl);
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-xl-6);
  color: var(--miscellaneous-floating-tab-text-selected);
  font-family: var(--font-varela-round);
}
.reset-background-icon1 {
  height: 964px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 468px;
}
.reestablecer-contrasea1 {
  position: absolute;
  top: 163px;
  left: 66px;
  display: inline-block;
  width: 247px;
  height: 70px;
}
.logositeasf-2-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 121.6px;
  object-fit: cover;
}
.reset-input-container {
  height: 233px;
  flex: 1;
  position: relative;
  min-width: 203px;
}
.image-11-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-11-wrapper {
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
}
.frame-wrapper9,
.reset-input-container-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reset-input-container-parent {
  flex: 1;
  gap: var(--gap-5xs);
}
.frame-wrapper9 {
  align-self: stretch;
  padding: 0 var(--padding-mini) 0 var(--padding-sm);
  box-sizing: border-box;
}
.alerta-item,
.frame-child12 {
  width: 421px;
  height: 222px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.alerta-item {
  height: 50px;
  width: 392px;
  border-radius: var(--br-3xs);
  background-color: var(--info);
}
.alert-icon1 {
  width: 19.3px;
  height: 20px;
  position: relative;
  z-index: 1;
}
.alert-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.se-te-enviara {
  flex: 1;
  position: relative;
  line-height: 92%;
  display: inline-block;
  min-width: 222px;
  max-width: 100%;
  z-index: 1;
}
.alerta1 {
  width: 392px;
  border-radius: var(--br-3xs);
  background-color: var(--info);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-2xs) var(--padding-5xs) var(--padding-2xs)
    var(--padding-xs);
  box-sizing: border-box;
  gap: 10.2px;
  max-width: 100%;
  z-index: 1;
}
.correo1 {
  width: 155px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.email-input-container-child {
  height: 38.1px;
  width: 392px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.tucorreocorreocom {
  width: 166px;
  border: 0;
  outline: 0;
  font-family: var(--font-varela-round);
  font-size: var(--font-size-base);
  background-color: transparent;
  position: relative;
  color: var(--color-darkslateblue-300);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.correo-group,
.email-input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email-input-container {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-6xs);
  z-index: 1;
}
.correo-group {
  width: 392px;
  flex-direction: column;
  gap: var(--gap-7xs-8);
  color: var(--primary);
}
.acceder28 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-varela-round);
  color: var(--color-white);
  text-align: left;
}
.botones28 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-smi);
  background-color: var(--color-darkslateblue-100);
  height: 40px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.ya-tienes-una {
  position: relative;
  z-index: 1;
}
.ya-tienes-una-cuenta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-1) 0 0;
}
.botones-group,
.rectangle-parent11 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.botones-group {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--color-darkslateblue-100);
}
.rectangle-parent11 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-8xs) var(--padding-lg-1)
    var(--padding-sm);
  box-sizing: border-box;
  gap: 15px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame-parent12,
.rectangle-parent11,
.reset-container1 {
  flex-direction: column;
  max-width: 100%;
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.reset-container1 {
  padding: var(--padding-45xl) 0 0;
  box-sizing: border-box;
  min-width: 421px;
}
.password-reset,
.reset-background-group,
.reset-container1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reset-background-group {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-130xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-10xl-4);
  color: var(--color-gray-100);
  font-family: var(--font-varela-round);
}
.password-reset {
  position: relative;
  background-color: var(--color-aliceblue);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .reset-background-group {
    gap: var(--gap-55xl);
  }
}
@media screen and (max-width: 1050px) {
  .reset-container1 {
    flex: 1;
  }
  .reset-background-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .reset-background-icon1 {
    min-width: 100%;
  }
  .reset-container1 {
    padding-top: var(--padding-23xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .reset-background-group {
    gap: var(--gap-18xl);
  }
}
@media screen and (max-width: 450px) {
  .reestablecer-contrasea1 {
    font-size: var(--font-size-5xl);
  }
  .alerta1,
  .botones-group,
  .reset-input-container-parent {
    flex-wrap: wrap;
  }
  .frame-parent12 {
    gap: var(--gap-2xl);
  }
  .reset-background-group {
    gap: var(--gap-lgi);
  }
}
